.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  min-width: 200px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
  font-weight: bold;
}

.municipality-tooltip-container {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}

/* Remove the tooltip arrow */
.municipality-tooltip-container:before {
  display: none;
}

/* Remove default leaflet tooltip padding */
.municipality-tooltip-container .leaflet-tooltip-content {
  padding: 0;
}