name: Release

on:
  push:
    branches:
      - main
      - staging

jobs:
  deploy:
    env: 
      TURBO_TELEMETRY_DISABLED: 1
      TURBO_TEAM: ${{ secrets.TURBO_TEAM_MH }}
      TURBO_TOKEN: ${{ secrets.VERCEL_TOKEN }}
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install Dependencies
        run: yarn install

      - name: Build
        run: yarn build

      - name: Deploy to Vercel
        run: |
          if [[ ${{ github.ref }} == 'refs/heads/main' ]]; then
            vercel --prod --token $VERCEL_TOKEN
          else
            vercel --token $VERCEL_TOKEN
          fi
